/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 70px;
  background-color: #2e2e2e; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 1;
  color: #fff; 
}

/* Left section */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Reading list icon */
.reading-list-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.reading-list-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.reading-list-icon:hover {
  color: #b19cd9;
  text-shadow: 0 0 8px #b19cd9;
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/* Center section: search */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  width: 60%;
}

.search-input {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 30px 0 0 30px;
  border: 1px solid #555;
  font-size: 1rem;
  outline: none;
  background-color: #FFF;
  color: black;
}

.search-input::placeholder {
  color: #ccc;
}

.search-button {
  padding: 0 1rem;
  border: 1px solid #555;
  background-color: #fff;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}
.search-button:hover {
  background-color: #b19cd9; 
  color: #fff;
  border-color: #b19cd9;
}

/* Right section: sign in */
.navbar-right {
  display: flex;
  align-items: center;
}

.sign-in-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #555;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}
.sign-in-button:hover {
  background-color: #b19cd9;
  color: #fff;
}
